@{
    ViewBag.Title = "Home";
}
<div class="jumbotron" style="background-color: darkgrey">
    <div class="col-md-2">
        <img src="~/img/bt.png" style="width: 130%; height: 130%;"/>
    </div>
    <div>
        <h1>Bug Tracker</h1>
        <h4>Designed to track problems in projects.</h4>
    </div>
</div>